In [1]:
import pandas as pd

df = pd.read_csv("./data/cv-corpus-21.0-delta-2025-03-14/en/validated.tsv", delimiter="\t")
df

,client_id,path,sentence_id,sentence,sentence_domain,up_votes,down_votes,age,gender,accents,variant,locale,segment
0,116398939d6be70fc5fb532924a130c0adf286ac283499...,common_voice_en_41923025.mp3,f5a2a431746c5229ab696ba0e1a518fe7b26e208ff3b84...,"He was born at Wichenford, in Worcestershire, ...",NaN,2,0,thirties,NaN,United States English,NaN,en,NaN
1,24a4da2e8f053a45a0715849c222a40a4b0da9872efb2e...,common_voice_en_42356358.mp3,f6f009587d8812c147af1cc05079e1fcd8120c8a98cdf8...,The Portuguese division was overrun and withdr...,NaN,2,0,teens,NaN,United States English,NaN,en,NaN
2,30849595699bc853c3810a78448acede46888b4e2d0809...,common_voice_en_42165090.mp3,f69afa5e77812e8be0085c874d2a9767323c78ffb43ba6...,Her health by this stage was also poor.,NaN,2,0,NaN,NaN,NaN,NaN,en,NaN
3,42d53f34c1bc50f7a7c4ed1765a8d1ffeaf5cd441513cc...,common_voice_en_41921729.mp3,f5739acbefdbd3aac990792966fac4d40dcb39eb8dfa21...,His sporting interests outside of cricket incl...,NaN,2,0,nineties,NaN,England English,NaN,en,NaN
4,436b9e1f9da710d74eb01209f8f269bee70e93cadf2053...,common_voice_en_42528393.mp3,f7d35c60d76f025c45a9495757d1ee0e2b7c206317a288...,The following year he was elected to be part o...,NaN,2,0,teens,NaN,United States English,NaN,en,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
244,403c1ec9623855b620b043ca2ca76c02989e679e32ba27...,common_voice_en_42220527.mp3,f6a82535d414098f3f8b3ee89c493cd32500bea023cfe6...,Instead a dirt highway going north-east reache...,NaN,2,0,twenties,female_feminine,nigerian accent,NaN,en,NaN
245,403c1ec9623855b620b043ca2ca76c02989e679e32ba27...,common_voice_en_42220889.mp3,f6bcef67cc94a7c400363a92c50f2b3ae22c359bf57b6e...,"Their soles need to possess both ""slip"" and ""g...",NaN,2,0,twenties,female_feminine,nigerian accent,NaN,en,NaN
246,403c1ec9623855b620b043ca2ca76c02989e679e32ba27...,common_voice_en_42221034.mp3,f6b6c17bccc00f006a1264b40f65782f57e132d41d0d3b...,Sloman was married with three daughters.,NaN,2,0,twenties,female_feminine,nigerian accent,NaN,en,NaN
247,403c1ec9623855b620b043ca2ca76c02989e679e32ba27...,common_voice_en_42221077.mp3,f6a6f1b3fda1e933bf19f11b07e7b25e7dd73260748efc...,He was named as Charles by his parents when he...,NaN,2,0,twenties,female_feminine,nigerian accent,NaN,en,NaN
248,403c1ec9623855b620b043ca2ca76c02989e679e32ba27...,common_voice_en_42221538.mp3,f6b5acc7a10f9299c4ed434743cd394c3cb68e79f159ab...,Danny Kingsbury was the architect of this new ...,NaN,2,0,twenties,female_feminine,nigerian accent,NaN,en,NaN

In [3]:
df.gender.value_counts()

gender
female_feminine       143
male_masculine         42
do_not_wish_to_say      9
Name: count, dtype: int64

In [4]:
df.age.value_counts()

age
twenties    126
thirties     56
sixties      31
teens        14
fourties      7
fifties       2
nineties      1
Name: count, dtype: int64

In [5]:
df.accents.value_counts()

accents
nigerian accent                                                          95
United States English                                                    81
Canadian English                                                         31
British English / Received Pronunciation (RP)                             6
United States English,Filipino                                            5
Lithuanian,Non-native                                                     5
England English                                                           4
Scottish English                                                          4
India and South Asia (India, Pakistan, Sri Lanka)                         4
L2                                                                        3
United States English,Southern United States English,Lightly Southern     2
Filipino                                                                  1
Russian                                                                   1
Australian English,Canadian English                                       1
Malaysian English                                                         1
Name: count, dtype: int64

In [3]:
from tqdm import tqdm
import shutil

clip_path = "./data/cv-corpus-21.0-delta-2025-03-14/en/clips"
output_path = "./data/cv-corpus-21.0-delta-2025-03-14/validated_clips"

for index, row in tqdm(df.iterrows()):
    clip_file = f"{clip_path}/{row['path']}"
    shutil.copyfile(clip_file, f"{output_path}/{row['path']}")

249it [00:00, 792.00it/s]