In [1]:
import pandas as pd

df = pd.read_csv("../data/cv-corpus-17.0-delta-2024-03-15/en/validated.tsv", delimiter="\t")
df

,client_id,path,sentence_id,sentence,sentence_domain,up_votes,down_votes,age,gender,accents,variant,locale,segment
0,01e8ea298cdecf26e273f5baac3915eb992c493f229686...,common_voice_en_39751075.mp3,e5e7d4694b7160add018a08876327f254690c1ab4c39ea...,Madin was a significant figure of post-war Bir...,NaN,2,0,NaN,NaN,"United States English,New York English",NaN,en,NaN
1,02cbc1fe01fc67fa72c6e067fbe020399082efbeb57a2b...,common_voice_en_39589864.mp3,e3e7c913ce32a3b5a58dda5fa1d855f2529ed36e1fa33f...,Alexandria and Texas were shut down mid-season.,NaN,2,0,NaN,NaN,NaN,NaN,en,NaN
2,03b62f72067ec967c423852bef03d1b61e63c156d86f6e...,common_voice_en_40087973.mp3,e90c361c9684d01d31bc6e8df3060bc97e536ca707bef4...,No runoff was necessary.,NaN,2,0,teens,transgender,Scottish English,NaN,en,NaN
3,05112cb5965431bbd47abd29b4faea9fb009b5a2e320e0...,common_voice_en_39587246.mp3,e3a1d0662e080f880a899b5a5226af16acf61360b1128e...,He was temporarily in charge of consular affai...,NaN,2,0,NaN,NaN,NaN,NaN,en,NaN
4,05d33ad00cc2754da8e542a33a5255f9346535ef1d8619...,common_voice_en_40117514.mp3,e9475052b6e625f8c5890389e4ffc17a1078dec1483592...,It was a sickening sight.,NaN,2,0,twenties,male_masculine,Australian English,NaN,en,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1872,b87dd0680063cbd3dc57f5b9b20c14f020f511c3f18467...,common_voice_en_40069050.mp3,e8f085328ccbba791bb5ea7236b7c12db5fc262a677fee...,It was hosted by Robin Milhausen and Michael Cho.,NaN,2,0,thirties,male_masculine,Canadian English,NaN,en,NaN
1873,b87dd0680063cbd3dc57f5b9b20c14f020f511c3f18467...,common_voice_en_40069051.mp3,e8dbc505c38469eba72f4c0c0f16358693a38822fb2283...,Fifteen matches were taped at the event.,NaN,2,0,thirties,male_masculine,Canadian English,NaN,en,NaN
1874,b87dd0680063cbd3dc57f5b9b20c14f020f511c3f18467...,common_voice_en_40110408.mp3,e9392dcd4da151ceb08f596a66b2fe057422fb5d791b5a...,A new medical doctrine had sprung up in the Ge...,NaN,2,0,thirties,male_masculine,Canadian English,NaN,en,NaN
1875,b87dd0680063cbd3dc57f5b9b20c14f020f511c3f18467...,common_voice_en_40110420.mp3,e934d39c8bc27e04221b7ec00db10764a23b31c8be8206...,"Why, indeed, sir, unless it is to cool her down!",NaN,2,0,thirties,male_masculine,Canadian English,NaN,en,NaN
1876,b87dd0680063cbd3dc57f5b9b20c14f020f511c3f18467...,common_voice_en_40110434.mp3,e914304d2243b6d5a793c79d0f43fb20b42909b0353663...,The frill bone was interpreted as a part of th...,NaN,2,0,thirties,male_masculine,Canadian English,NaN,en,NaN

In [2]:
df.gender.value_counts()

gender
male_masculine     1267
female_feminine     145
transgender           1
Name: count, dtype: int64

In [3]:
df.age.value_counts()

age
thirties     632
twenties     408
fifties      127
teens        107
seventies     94
fourties      49
sixties       44
Name: count, dtype: int64

In [4]:
df.accents.value_counts()

accents
United States English                                          479
England English                                                200
Canadian English                                               147
Australian English                                             139
Scottish English                                               100
                                                              ...
United States English,England English,Transatlantic English      1
England English,Dutch English                                    1
British,England English                                          1
England English,London/Cockney Accent                            1
United States English,Midwestern,Low,Demure                      1
Name: count, Length: 119, dtype: int64

In [5]:
from tqdm import tqdm
import shutil

clip_path = "../data/cv-corpus-17.0-delta-2024-03-15/en/clips"
output_path = "../data/cv-corpus-17.0-delta-2024-03-15/validated_clips"

for index, row in tqdm(df.iterrows()):
    clip_file = f"{clip_path}/{row['path']}"
    shutil.copyfile(clip_file, f"{output_path}/{row['path']}")

1877it [00:02, 736.93it/s]